.logo {
  width: 207.64px;
  height: 72px;
  position: absolute;
  top: 176px;
  left: 80px;
  background-color: #26262E;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 18px;
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.lettersLogo {
  background-color: transparent;
}

.container {
  width: 368;
  height:792px;
  display: flex;
  justify-items: center;
  
}
.container2 {
  display: flex;
  justify-content: center;
}

.logIn {
  display: none;
}

.letersMid {
  width: 196px;
  height: 31px;


}
.mid  {
  display: inline-block;
  background-color:transparent;
}
